language: generic
sudo: required
services:
  - docker
env: 
    global: 
        - SHA=$(git rev-parse HEAD)
        - CLOUDSDK_CORE_DISABLED_PROMPTS=1
before_install:
  # Encrypted using travis.yaml
  # dowloaded docker image using command docker run -it -v $(pwd):/app ruby:2.4 sh
  # gem install travis
  # logged into travis ci using travis login
  # Encryypted file using command: travis encrypt-file service-account.json -r bnagaraja9099/multi-k8s
  # the output of the command has this open ssl listed below. 
  # this command will un encrypt the file and keep it ready for gcloud login later. 
  - openssl aes-256-cbc -K $encrypted_9f3b5599b056_key -iv $encrypted_9f3b5599b056_iv -in service-account.json.enc -out service-account.json -d

  # download and install google cloud sdk
  - export CLOUDSDK_CORE_DISABLE_PROMPTS=1
  - curl https://sdk.cloud.google.com | bash > /dev/null
  - source $HOME/google-cloud-sdk/path.bash.inc
  
  # download kube ctl 
  - gcloud components update kubectl 
  
    # service account similar to IAM 
  - gcloud auth activate-service-account --key-file service-account.json
  
  - gcloud config set project multi-k8s-290120
  - gcloud config set compute/zone us-central1-c
  - gcloud container clusters get-credentials  multi-k8s
  
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker build -t bnagaraja9099/react-test -f ./client/Dockerfile.dev ./client
  
script: 
  - docker run -e CI=true bnagaraja9099/react-test npm run test


deploy: 
  provider: script
  script: bash ./deploy.sh
  on: 
    branch: master